<div>
    <%- form %>
    <button autofocus type="submit" class="login" form="op.logoutForm" value="yes" name="logout">Sign out</button>
    <button type="submit" class="login" form="op.logoutForm">Stay signed in</button>
</div>
